{% extends "base.html" %} 
{% block title %}About{% endblock title %} 
{% block body %}
<br>
<div class="card bg-dark text-light"style="left:490px;width:113px;">
    <h1>About</h1>
</div>
<br>
<p class="card bg-light text-dark p-3"style="left:140px;height:350px; width:800px">
    <br>
    Promila Card`s is the go-to spot for beautiful wedding invitations. They're all
    about creating special card`s that show off love and joy. These invitations are
    like pieces of art, made with lots of care and attention to detail. Whether
    you like classic or modern styles, Promila Card`s has something for everyone.
    <br>
    Their collection has diverse options, making sure every couple can find the
    perfect invitation for their big day. Promila Card`s doesn't just make
    invitations; they make card`s that tell your unique story. These
    invitations are more than just pieces of paper; they're keepsakes that capture
    the start of a wonderful journey together.
    <br>
    In essence, a wedding card store is not just a place to purchase invitations; it is a destination where couples can find the perfect representation of their love story, setting the tone for their wedding celebration and leaving a lasting impression on their guests.









</p>

{% endblock body %}
